# Visual Studio build files
*.obj
*.pch
*.pdb
*.idb
*.ipch
*.log
*.tlog
*.vspscc
*.vssscc
*.user
*.aps
*.ncb
*.suo
*.vcxproj.user
*.vcproj.*.user
Debug/
Release/
[Dd]ebug*/
[Rr]elease*/
build/
*.ilk
*.meta
*.exp
*.exe
*.dll
*.lib
*.sys
*.filters
*.sdf
*.cache
*.dir
*.vcxproj.filters
_*/*
*.generated/

# Other
*.swp
*.bak
